<DOCTYPE html>
    <html lang="pt-br">
      <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link href="../CSS/index.css" rel="stylesheet">
    </head>
      <body>
        <header>
            <ul class="nav">
                <li class="nav-item">
                    <nav class="navbar">
                        <a class="nav-link disabled" href="index.html">
                            <img id="logo" src="../imagens/condominium.png" alt="MyLibrary"> 
                        </a>
                    </nav>
                </li>
                <li class="nav-item">
                    <nav class="navbar">
                        <h2>Desafio Apcoders<h2>
                    </nav>
                </li>
            </ul>
        </header>
        <div id="linhadecorativa"></div>
        <div class="container-fluid">
            <br><br>
            <div style="margin-left: 6%; display: inline-block;" class="container">
                <h3><img src="../imagens/person-circle.svg"> UNIDADE</h3>
                    <ul class="nav" style="margin-top:1 %">
                        <li class="nav-item">
                            <a class="nav-link disabled">Unidade</a>
                        </li>
                        <li style="margin-left:-1%" class="nav-item">
                            <a class="nav-link disabled">/</a>
                        </li>
                        <li style="margin-left:-1%" class="nav-item">
                            <a class="nav-link" href="index.html">Inquilos</a>
                        </li>
                        <li style="margin-left:-1%" class="nav-item">
                            <a class="nav-link disabled">/</a>
                        </li>
                        <li style="margin-left:-1%" class="nav-item">
                            <a class="nav-link" href="despesas.html">Despesas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br><br><br><br>
            <div id="listar" class="container">
                <br>
                <h3 id="lista_inquilinos">Lista de Unidades<h3>
                <hr>
                <br>
                <a href="cadastrar.html"><img src="../imagens/plus-lg.svg" alt="MyLibrary"></a> 
            </div>
        </div>
      </body>
    </html>