h2, h4 {
    color: white;
    font-family: 'Raleway';
    margin-top: 5%;
}

#logo{
    height: 40px;
    margin-top: 18%;
}
header{
    background-color: #07889B;
}
#linhadecorativa{
    height: 1%;
    background-color: #ffdcc5;
}
body{
    background-color: #f0efefef;
}
#imagem_perfil{
    height: 15%;
}
label{
    float: left;
    display: block;
    width: 100%;
}
#listar{
    background-color:white;

}
#lista_inquilinos{
    font-family: 'Raleway';
}